<aside class="sidebar">
    <div class="sidebar__header">
        <img src="assets/images/sidebar-header.jpg" alt="">
    </div>
    <div class="sidebar__content">
        <div class="profile">
            <!-- <img class="profile__avatar" src="https://images.pexels.com/photos/1172207/pexels-photo-1172207.jpeg?cs=srgb&dl=pexels-alexandr-podvalny-1172207.jpg&fm=jpg" alt="my-photo"> -->
            <img class="profile__avatar" src="assets/images/my-photo.jpg" alt="my-photo">
            <div class="profile__name">Dima Kalav</div>
            <div class="profile__prof">front-end developer blog</div>

            <ul class="social">
                <li class="social__item">
                    <a href="#" class="social__link" target="_blank">
                        <img src="assets/images/instagram.svg" alt="Instagram Dima Kalav">
                    </a>
                </li>
                <li class="social__item">
                    <a href="#" class="social__link" target="_blank">
                        <img src="assets/images/vk.svg" alt="VK Dima Kalav">
                    </a>
                </li>
                <li class="social__item">
                    <a href="#" class="social__link" target="_blank">
                        <img src="assets/images/pinterest.svg" alt="Pinterest Dima Kalav">
                    </a>
                </li>
            </ul>
            <div class="profile__text">
                <p>Front-end developer. Website layout practitioner. Have been creating websites from 2012. Was worked in several IT companies and have over 10,000 hours of experience in creating websites of varying complexity.</p>
            </div>
        </div><!-- profile -->
    </div><!-- sidebar__content -->

    <div class="sidebar__footer">
        <a class="btn btn--red" href="#">My works</a>
        <button class="btn btn--blue" type="button">Write me</button>
    </div>
</aside>